<!DOCTYPE html>
<html>
  <head>
    <title>Flashcards</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <section id="container">
    <header>
        <h1 class="main-title"><%= link_to "Флэшкарточкер",  home_path %></h1>
        <ul class="navigation-links">
          <li><%= link_to "Все карточки", controller: 'cards' %></li>
          <li><%= link_to "Добавить карточку", new_card_path %></li>
        </ul>
    </header>
    <body>
      <% if flash[:error] %>
        <div class="error_explanation"><%= flash[:error] %></div>
      <% end %>
      <% if flash[:message] %>
        <div class="message_explanation"><%= flash[:message] %></div>
      <% end %>
      <%= yield %>
    </body>
  </section>
</html>
